<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align : center;}
h4 {text-align: left;}
body {text-align: center;}
.left {text-align: left;}
.row {background-color: lightyellow;}
.ProductPic {float: left;
            width: 30%;
            padding: 10px;}
.ProductInfo {float: right;
            width: 60%;
            padding: 10px;
            text-align: left;}
.row::after {content: '';
            clear: both;
            display: table;}
</style>
</head>
<body>
<h1>Thank You</h1>
<h3>Mr. {participant Name}</h3>
<h3>Your order has been successfully placed</h3>
<h4>Order Details:</h4>
<div class="row">
    <div class="ProductPic">
    <img src="C:\Users\Raj Tagore\Pictures\Screenshots/onlineCourse.png" alt="" width= 100%> 
    </div>
    <div class="ProductInfo">
    <p><h3 class="left">{CourseName}</h3></p>
    <p>{aboutcourse}</p>
    <p>price: {price}</p>
    </div>
</div>
</body>
</html>