<html>
			<head>
			<style>
			h1 {text-align: center;}
			h2 {text-align : center;}
			h4 {text-align: left;}
			body {text-align: center;}
			.left {text-align: left;}
			.row {background-color: lightyellow;}
			.ProductPic {float: left;
						width: 30%;
						padding: 10px;}
			.ProductInfo {float: right;
						width: 60%;
						padding: 10px;
						text-align: left;}
			.row::after {content: '';
						clear: both;
						display: table;}
			</style>
			</head>
			<body>
			<h1>Thank You</h1>
			<h3>Mr. """ +str(SelectedBuyer.Name)+ """</h3>
			<h3>Your order has been successfully placed</h3>
			<h4>Order Details:</h4>
			<div class="row">
				<div class="ProductPic">
				<img src=" "  alt="" width= 100%> 
				</div>
				<div class="ProductInfo">
				<p><h3 class="left">"""+str(SelectedProduct.Name)+ """</h3></p>
				</div>
			</div>
			<br>
			You will find the course after you follow these steps:
			1: Go to the Home Page
			2: Click on 'Login'
			3: Click on 'Items'
			4: Look for the course you have bought, and click on 'View Course Content'
			<br><br>
			</body>
			</html>