<html>
<head >
</head>
<body>
<h1>PayUMoney Payment Request Form </h1>
<!DOCTYPE html>

<form action="https://secure.payu.in/_payment"  name="payuform" method=POST >
<input type="hidden" name="key" value="{{PAYU_MERCHANT_KEY}}" />
<input type="hidden" name="hash_string" value="{{hash_string}}" />
<input type="hidden" name="hash" value="{{hashh}}" />
<input type="hidden" name="txnid" value="{{TxnId}}"/>
<table>
<tr>
<td><b>Mandatory Parameters</b></td>
</tr>
<tr>
<td>Amount: </td>
<td><input name="amount" value="{{price}}" /></td>
<td>First Name: </td>
<td><input name="firstname" id="firstname" value="{{Namo}}" /></td>
</tr>
<tr>
<td>Email: </td>
<td><input name="email" id="email" value="{{Email}}" /></td>
<td>Phone: </td>
<td><input name="phone" value="{{Phone}}" /></td>
</tr>
<tr>
<td>Product Info: </td>
<td colspan="3"><input name="productinfo" value="{{Product.id}}" /> </td>
</tr>
<tr>
<td>Success URI: </td>
<td colspan="3"><input name="surl"  size="64" value="https://rajeshtagore2.herokuapp.com/trainingonline/OTPaymentSuccess" /></td>
</tr>
<tr>
<td>Failure URI: </td>
<td colspan="3"><input name="furl"  size="64" value="https://rajeshtagore2.herokuapp.com/trainingonline/OTPaymentFailure" /></td>
</tr>
<tr>
<td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" /></td>
</tr>
<tr>
</tr>
<tr>
<td>UDF2:</td> 
 <td><input name="udf2" value = "{{Name}}" /></td>
</tr>
<tr>
 <td>UDF3: </td>
 <td><input name="udf3" value = "{{Phone}}" /></td>
</tr>
<tr>
 <td>UDF5: </td>
 <td><input name="udf5" value = "{{Address}}" /></td>
</tr>
<script type="text/javascript">document.payuform.submit()</script>
</table>
</form>

</body>
</html>